@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.5 Cabin, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  padding: 1em 0 40px;
  background-color: #e2e2e2;
  text-align: center;
  position: relative;
}

h1 {
  margin: 0 0 1rem;
  text-align: center;
  font: normal 100%/1.5 Lobster, sans-serif;
  font-size: 3rem;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ccc;
  display: none;
  position: absolute;
  top: 100%;
  width: 15em;
}

.nav a {
  display: block;
  padding: .5em;
  text-decoration: none;
  background-color: #666;
  color: #000;
}

.nav a:hover {
  background-color: #333;
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  width: 40px;
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.banner-img {
  width: 100%;
}

.banner p {
  font-size: 1.25rem;
  text-align: center;
  max-width: 50em;
  padding: 0 1rem;
  margin: 0;
}

h2 {
  font: normal 100%/1.5 Lobster, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: .5em .5em 0 .5em;
}

.categories figcaption {
  text-align: center;
  font-size: 1.25rem;
}

.hard-candy,
.soft-candy,
.candy-by-colour,
.special-occasions {
  margin: 1rem 0;
}

.location-img {
  width: 100%;
}

.perfect-gift-images {
  width: 100%;
  margin: 1rem 0;
}

.who-we-are {
  margin: 1rem;
}

h3 {
  font-family: Cabin, sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  margin: 1rem 1rem .25rem 1rem;
}

.location ol,
.vcard {
  list-style-type: none;
  padding: 0 2em;
  margin: 0;
}

.tel,
.fn,
.adr {
  margin: 0;
}

footer {
  margin: 1.5em 0 .5em 1em;
  font-size: .75rem;
  text-align: center;
}
